[mysqld]
pid-file=/var/run/mysqld/mysqld.pid
log-error=/var/log/mysqld.log
sql_mode=no_engine_substitution,no_unsigned_subtraction
default_tmp_storage_engine=MyISAM
tmpdir=/data/mysql/toku
query_cache_size=0
query_cache_type=0
slow_query_log_file=/data/mysql/toku/slow.log
long_query_time=5
max_binlog_size=128M
sync_binlog=0
server_id=77
datadir=/data/mysql/toku/data

tokudb_cache_size               = 10G
tokudb_directio                 = OFF
tokudb_empty_scan               = disabled
tokudb_read_block_size          = 16K
tokudb_commit_sync              = OFF
tokudb_checkpointing_period     = 300
tokudb_block_size               = 4M
#  tokudb_block_size               = 1M
tokudb_cleaner_iterations       = 10000
tokudb_enable_partial_eviction  = OFF
#   tokudb_fanout                   = 32
#   tokudb_checkpoint_pool_threads  = 2
#tokudb_row_format               = tokudb_zlib
#tokudb_row_format               = tokudb_snappy
tokudb_row_format               = tokudb_uncompressed
tokudb_fsync_log_period         = 1000

default-storage-engine          = tokudb
#skip-innodb

default-tmp-storage-engine=MyISAM

log_bin=/binlogs/myrocks/bl
binlog_format=row
tokudb_disable_prefetching = ON

# used these
#tokudb_analyze_in_background = OFF
#tokudb_analyze_time=10
#tokudb_analyze_mode=TOKUDB_ANALYZE_RECOUNT_ROWS

#tokudb_analyze_mode=TOKUDB_ANALYZE_STANDARD
#tokudb_auto_analyze=0

slow_query_log = ON
long_query_time=1

tokudb_cache_size               = 10G

[mysqld-safe]
malloc-lib=/usr/lib64/libjemalloc.so.1

