[mysqld]
sql_mode=no_engine_substitution,no_unsigned_subtraction
default_tmp_storage_engine=MyISAM
tmpdir=/tmp
#query_cache_size=0
#query_cache_type=0
slow_query_log_file=/data/users/mcallaghan/orig8011/slow.log
slow_query_log=1
long_query_time=5
log_bin=/binlogs/myrocks/bl
max_binlog_size=128M
sync_binlog=0
server_id=77
binlog_format=ROW
binlog_checksum=CRC32

datadir=/data/users/mcallaghan/orig8011/data
innodb_data_home_dir=/data/users/mcallaghan/orig8011/data
innodb_data_file_path=ibdata1:512M:autoextend
innodb_log_group_home_dir=/txlogs/myrocks
innodb_log_file_size=2G

innodb_flush_log_at_trx_commit=2
innodb_flush_method=O_DIRECT
innodb_doublewrite=1

innodb_flush_neighbors=0
innodb_io_capacity=20000
innodb_io_capacity_max=50000
innodb_lru_scan_depth=5000
innodb_buffer_pool_instances=4

#innodb_read_io_threads=4
#innodb_write_io_threads=4
#innodb_purge_threads=4
#innodb_page_cleaners=4
#innodb_log_buffer_size=16M
#innodb_max_dirty_pages_pct=90
#innodb_adaptive_flushing=1
#innodb_file_per_table=1
#innodb_page_size=16K

performance_schema=1
ssl=0

character_set_server=latin1
collation_server=latin1_swedish_ci
default_authentication_plugin=mysql_native_password

max_connections=5000
#gtid_mode=OFF
#enforce_gtid_consistency=ON
#plugin_load=
#skip_name_resolve
#back_log=4096
#table_open_cache=50000
#table_definition_cache=60000
eq_range_index_dive_limit=10
innodb_adaptive_hash_index=0

innodb_buffer_pool_size=180G
#innodb_buffer_pool_size=35G
